/node_modules
/vendor
/.idea
/.git
/.project

/composer.phar
/composer.lock
/package-lock.json
/*.log
/Thumbs.db

/.ddev
/.env
/.env.backup
/.env.lnk

/.well-known
/.php-cs-fixer.cache
/.phpunit.result.cache
/.phpunit.cache
/_ide_helper.php
/_ide_helper_models.php
/.phpstorm.meta.php
/run-tests.sh

/error_log
/public/error_log
/public/.user.ini
/public/php.ini
/auth.json

/.env.save
/.htaccess
/webpack

/.puppeteerrc.cjs
/phpstan.neon
